{embed="Includes/.header" title="Search Results"}
{embed="Includes/.head"}
	
		<section id="content" class="search page textured container resize">
			<div class="row">
				<div class="col12 entry">
					<h1>Search Results</h1>
					<h2>{exp:search:total_results} results showing for "{exp:search:keywords}"</h2>
					<div id="searchResults">
						{exp:search:search_results}
							<div class="result"><a href="{auto_path}">{title}</a></div>
						{/exp:search:search_results}
					</div>
				</div>
			</div>
		</section>
	
{embed="Includes/.footer"}
