{embed="Includes/.header" title="Search Results"}
{embed="Includes/.head"}
	
		<section id="content" class="search page textured container resize">
			<div class="row">
				<div class="col12 entry">
					<h1>Search Results</h1>
					<h2>No results found.</h2>
					<div id="searchResults">
							<div class="result">Please try again with different keywords or <a href="{site_url}">click here</a> to return to the home page.</div>
					</div>
				</div>
			</div>
		</section>
	
{embed="Includes/.footer"}
