{embed="Includes/.header"}
<link rel='stylesheet' id='styles'  href='{path="assets/template/styles/jquery.magnific.css"}?v=1' type='text/css' media='all' />
<script src="{path="assets/template/scripts/jquery.magnific.js"}?v=1" type="text/javascript"></script>
{embed="Includes/.head"}
	
{exp:structure:entries disable="trackbacks|member_data|category_fields|categories"}	
	<section id="content" class="page textured container resize">
		<div class="row">
			<div class="col12 entry">
				<h1>{title}</h1>	
			</div>
		</div>
		<div class="row">
			<div class="col8 entry">
				{featured_image}
					{exp:ce_img:pair src="{image}" width="742"}
						<div class="featured_image"><img src="{made}" alt="{alt}" title="{alt}" width="{width}" height="auto"/></div>
					{/exp:ce_img:pair}
				{/featured_image}
				{content}
			</div>
			<div class="pushcol1 col3 last">
			
				{if useful_links}				
					<section id="useful" class="widget small">
						<div class="padding">
							<h3>Useful Links<span></span></h3>
							<ul>
								{useful_links}	
									<li><a href="{page_uri}">{title}</a></li>
								{/useful_links}	
							</ul>
						</div>
					</section>
				{/if}			

				{related limit="1"}
					<div id="related" class="widget small"{if related_featured_image} style="margin-top:285px;"{/if}	>
						{related_thumbnail_image}
								{exp:ce_img:pair src="{image}" height="250" width="258" crop="yes"}
									<div class="thumbnail"><a href="{path='page/related'}/{url_title}" class="simple-ajax-popup-align-top"><img src="{made}" alt="{alt}" title="{alt}" width="{width}" height="{height}"/></a></div>
								{/exp:ce_img:pair}
						{/related_thumbnail_image}	
						<div class="padding">
									<h4><a href="{path='page/related'}/{url_title}" class="simple-ajax-popup-align-top">{title}</a></h4>
									<p>{related_excerpt}</p>
									<a href="{path='page/related'}/{url_title}" class="simple-ajax-popup-align-top small purple btn rightArrow" title="Read More">Read more<span></span></a>
						</div>
					</div>
				{/related}
				
			</div>
		</div>
	</section>
{/exp:structure:entries}	
	
<script type="text/javascript">
$(document).ready(function() {
	$('.simple-ajax-popup-align-top').magnificPopup({
		type: 'ajax'
	});	
});
</script>
{embed="Includes/.footer"}
