<div id="relatedEntry" class="entry white-popup-block resize" style="max-width:600px; margin: 20px auto;"">
	{exp:channel:entries channel="related" limit="1" disable="categories|category_fields|member_data|pagination"}
			{related_featured_image}
					{exp:ce_img:pair src="{image}" width="700"}
						<div class="featuredImage"><img src="{made}" alt="{alt}" title="{alt}" width="{width}" height="auto"/></div>
					{/exp:ce_img:pair}
			{/related_featured_image}		
			<h2>{title}</h2>
			{related_main_content}
	{/exp:channel:entries}
</div>
