{embed="Includes/.header" title="Sitemap"}
{embed="Includes/.head"}
	
		<section id="content" class="siteMap page textured container resize">
			<div class="row">
				<div class="col12">
					<div class="entry">
						<h1>Site map</h1>
						<h2>What's on this website</h2>
					</div>
					{exp:structure:sitemap}
				</div>
			</div>
		</section>
	
{embed="Includes/.footer"}
