{embed="Includes/.header"}
{embed="Includes/.head"}
	
{exp:channel:entries channel="contacts" limit="1" disable="trackbacks|member_data|category_fields|pagination|categories"}
	<section id="content" class="contacts page textured container resize">
		<div class="row intro entry">
			<div class="col12">
				<h1>{title}</h1>	
				{useful_intro}	
			</div>	
		</div>
		
	{useful_contacts}	
		<div class="row title">
			<div class="col12">
				<h2>{title}</h2>
			</div>
		</div>
		<div class="row details">
			<div class="col3">
					{exp:ce_img:pair src="{image}" width="210"}
						<div class="logo">
							<div class="img-contain">
								<div class="img-shiv">
									<img src="{made}" alt="{alt}" alt="{alt}" width="{width}" height="auto"/>
								</div>
							</div>
						</div>
					{/exp:ce_img:pair}
			</div>
			<div class="col9 last">
				<dl class="clearfix">
					<dt>Call</dt><dd>{phone}</dd>
					<dt>Email</dt><dd><a href="mailto:{email}">{email}</a></dd>
					<dt>Visit</dt><dd><a href="{website}">{website}</a></dd>
				</dl>
				<p>{description}</p>
			</div>
		</div>		
	{/useful_contacts}
		
	</section>
	{/exp:channel:entries}	
{embed="Includes/.footer"}
