{embed="Includes/.header"}
{exp:channel:entries channel="contact" limit="1" disable="trackbacks|member_data|category_fields|pagination|categories"}
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
	<script type="text/javascript">
		var map;
		var myLatlng = new google.maps.LatLng({contact_map}{latitude},{longitude}{/contact_map});
		
			function initialize() {
			
				var mapOptions = {
					zoom: 16,
					center: myLatlng,
					mapTypeId: google.maps.MapTypeId.ROADMAP
				};
				map = new google.maps.Map(document.getElementById('mapCanvas'),
						mapOptions);
				
			var marker = new google.maps.Marker({
				position: myLatlng,
				map: map
				});
			}
			google.maps.event.addDomListener(window, 'load', initialize);

			google.maps.event.addDomListener(window, 'resize', function() {
				map.setCenter(myLatlng);
		});
	</script>
{/exp:channel:entries}	
{embed="Includes/.head"}
	
{exp:channel:entries channel="contact" limit="1" disable="trackbacks|member_data|category_fields|pagination|categories"}
	
		<section id="content" class="contact page textured container resize">
			<div class="row">
				<div class="col7 entry">
						<h1>{title}</h1>
						{contact_main_content}
						
						{contact_form}
				</div>
				
				<div class="pushcol1 col4 last">
					
					<div class="sideBar">
						<h3>Talk to us directly</h3>
						
						{contact_details}
							<h4>{title}</h4>
							<ul>
								<li><strong>Call </strong>{phone}</li>
								<li><strong>Email </strong><a href="mailto:{email}">{email}</a></li>
								<li>{address}</li>
							</ul>
						{/contact_details}
						
						<div class="mapContainer">
							<div id="mapCanvas"></div>
						</div>
						
					</div>
					
				</div>
			</div>
		</section>
		
	{embed="Includes/.footer"}
{/exp:channel:entries}