{embed="Includes/.header"}
{embed="Includes/.head"}
	
{exp:channel:entries channel="form" limit="1" disable="trackbacks|member_data|category_fields|pagination|categories"}
	<section id="content" class="page textured container resize">
	
		<div class="row">
			<div class="col12 entry">
				<h1>{title}</h1>	
			</div>
		</div>
		
		<div class="row">
			<div class="col8 entry">
				{form_main_content}
				{form}
			</div>
		</div>
		
	</section>
	{/exp:channel:entries}	
{embed="Includes/.footer"}
