h1, h2, h3 {color:#401373;}
h1 {}
h2 {font-size:22px}
h3 {}
h4 {}
h5 {}
h6 {}
p {font-size:17px; line-height:20px; margin-bottom:35px;}
ul {margin-bottom:35px;}
ul li {list-style:none; font-size:17px; line-height:1.5em; margin-bottom:12px; padding-left:25px; background:url('/assets/template/images/blueBullet.png') no-repeat 0 10px;}
