/* *********************************************************************************************************************
 * Main container for all
 */
.container {padding-left:20px; padding-right:20px;}
.container > .row {margin:0 auto; padding:0; max-width: 1140px;}
.row:before, .row:after {content: " "; /* 1 */ display: table; /* 2 */}
.row:after {clear: both;}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.row {*zoom: 1;}

/* *********************************************************************************************************************
 * Common columns definitions
 */

[class*="col"] {margin-right:3%; float: left; min-height:1px;}
.last {margin-right:0!important;}

.col1 { width: 5.5% }
.col1-half {	width:9.75%}
.col2 { width: 14% }
.col3 { width: 22.5% }
.col4 { width: 31% }
.col5 { width: 39.5% }
.col5-half {	width: 43.75% }
.col6 { width: 48% }
.col7 { width: 56.5% }
.col8 { width: 65% }
.col9 { width: 73.5% }
.col10 { width: 82% }
.col11 { width: 90.5% }
.col12 { width: 100%; margin: 0!important; }

.pushcol1 {margin-left:8.5%;}
.pushcol2 {margin-left:17%;}
.pushcol3 {}
.pushcol4 {}
.pushcol5 {}
.pushcol6 {}
.pushcol7 {}
.pushcol8 {}
.pushcol9 {}
.pushcol10 {}
.pushcol11 {}
.pushcol12 {}

[class*="col"] img {max-width:100%; height: auto; display: block;}

/* *********************************************************************************************************************
 * Disable padding left/right 10px if I'm 1024 or gibber - correct percentage math
 */
@media all and (min-width: 1024px) {
	.container {}
	.container .row {padding: 0;}
}

/* *********************************************************************************************************************
 * Small devices
 */
@media all and (max-width: 768px) {
	.container {padding-left:0; padding-right:0;}
	.row {}
	.container > .row > [class*="col"] {width:auto; float: none; padding-left:20px; padding-right:20px; margin:0;}
	.pushcol1, .pushcol2 {margin-left:0;}
}