/*
Theme Name: DHI Bristol
Theme URI: http://www.deckchair.co.uk
Description: Custom Template for DHI Bristol
Author: www.deckchair.co.uk
Version: 1.0
License: Copyright DHI Bristol
*/

/* =Reset default browser CSS. 
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {line-height: 1;}
h1, h2, h3, h4, h5, h6 {clear: both;font-weight: normal;}
ol, ul {list-style: none;}
blockquote {quotes: none;}
blockquote:before, blockquote:after {content: ''; content: none;}
del {text-decoration: line-through;}
/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse: collapse; border-spacing: 0;}
a img {border: none;}
*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
 
/*================================================
BEGIN CLEAR
================================================*/
.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clear {
  display: inline-block;
}
/* Hides from IE-mac \*/
* html .clear {
  height: 1%;
}
.clear {
  display: block;
}
.clearfix:before, .clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
}
.clearfix {}
/* Clearfix */
.clearfix {
  display: inline-block;
  overflow:visible !important;
}
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix {
  display: block;
}

/*================================================
END CLEAR
================================================*/


/* Layout - Standard
================================================ */

/* Global Styles
====================================*/
body {-webkit-font-smoothing: antialiased; font-family: 'proxima-nova', Arial, Helvetica, sans-serif; font-style: normal; font-weight:400; color:#212121; font-size:62.5%; line-height:62.5%;}

#wrapper {overflow:hidden; background-color:#fff;}

h1, h2, h3, h4, h5, h6 {font-family: "proxima-nova-soft", sans-serif;}

h1 {margin-bottom:38px; font-size:40px; line-height:1.5em;}
h2 {margin-bottom:32px; font-size:30px; line-height:1.5em;}
h3 {margin-bottom:28px; font-size:20px; line-height:1.4em;}
h4 {}
h5 {}

p {}

a {color:#005ce7; text-decoration:none;}
a:hover {text-decoration:underline;}

.float.left {float:left;}
.float.right {float:right;}

/*Btns*/
.btn {display: inline-block; *display: inline; *margin-left: .3em; text-align: left; vertical-align: middle; cursor: pointer; text-decoration:none; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.btn:hover {text-decoration:none;}
.btn.small {padding:12px; font-size:1.5em;}
.btn.rightArrow {padding-right:35px; position:relative;}
.btn.rightArrow.purple span {height:14px; width:15px; display:block; position:absolute; right:12px; top:50%; margin-top:-7px; background-image:url('/assets/template/images/iconSprite.png'); background-position:-25px -42px;}
.btn.purple {background-color:#6748a5; color:#fff;}
.btn.purple:hover {background-color:#42257C;}
.btn.large.custom.arrow {	padding:13px 45px 13px 17px; font-size:1.2em; background-image:url('/assets/template/images/wufooArrow.png'); background-repeat:no-repeat; background-position:93% center;}

/* Responsive image grid */
.img-contain {position: relative; text-align: center; width: 100%; padding-bottom: 75%; margin-bottom: 20px;}
.img-contain .img-shiv {position: absolute; width: 85%; height: 80%; font-size: 0; padding: 7.5% 7.6%; display: block; z-index:9998; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box;}
.img-contain .img-shiv:before {content: ""; display: inline-block; height: 100%; vertical-align: middle; }
.img-contain img {max-width: 100%; height: auto; width:auto; max-height: 100%; vertical-align: middle; display:inline-block; *display:inline; zoom:1; z-index:9999; }

/* Borders */
.top.shadow {	
	border: 1px solid #c0cacf;
	background-color: #fff;
	-moz-box-shadow: 0 0 6px rgba(0,0,0,.13);
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,.13);
	box-shadow: 0 0 6px rgba(0,0,0,.13);
	height:5px;
	margin-bottom:-6px;
	margin-left:-1%;
	position:relative;
	z-index:0;
}
.top.wigglyBorder {height:18px; background-image: url('/assets/template/images/wigglyBorder.png'); background-repeat:repeat-x; top:-16px;  left:0; right:0; position:absolute;}
.bottom.wigglyBorder {height:18px; background-image: url('/assets/template/images/wigglyBorder.png'); background-repeat:repeat-x; width:100%;}

/* Header 
-----------------------*/
header.container {padding-top:50px; background-color:#e5f1f7;}
header .logo {padding-right:3%; float:left;}
header .title {margin-top:16px; font-size:24px; line-height:28px; font-family: "proxima-nova-soft", sans-serif; width:64%; float:left;}
header .title a {color:#239dde; text-decoration:none;}
header .providedBy {float:right; text-align:center;}
header .providedBy span {display:block; margin:-10px 0 10px 0; font-size:12px; color:#40136d; font-family: "proxima-nova-soft", sans-serif;  position:relative;}
header #searchContainer .searchBox {border: 1px solid rgba(0,0,0,.15); background-color: #fff; -moz-box-shadow: inset 2px 3px 6px rgba(0,0,0,.06); -webkit-box-shadow: inset 2px 3px 6px rgba(0,0,0,.06); box-shadow: inset 2px 3px 6px rgba(0,0,0,.06); position:relative; height:36px;}
header #searchContainer .searchBox input[type="text"] {font-size:1.4em; background-color:transparent; border:none; position:absolute; left:7px; top:50%; right:38px; height:18px; margin-top:-9px;}
header #searchContainer .searchBox input[type="text"]:focus {outline:none;}
header #searchContainer .searchBox .submit {cursor:pointer; border:none; background-color:transparent; height:19px; width:21px; display:block; position:absolute; top:50%; right:6px; margin-top:-8.5px; background-image:url('/assets/template/images/iconSprite.png'); background-position:-108px -1px; text-indent:-9999px; overflow:hidden; text-transform:uppercase;}

header .contactDetails {margin-top:14px;}
header .contactDetails li {font-size:1.4em; line-height:1.2em;}
header .contactDetails li span {float:left; display:block; background-image:url('/assets/template/images/iconSprite.png'); margin-right:10px;}
header .contactDetails li.phone span {height:15px; width:18px; background-position:0 -41px;}
header .contactDetails li.email span {height:13px; width:17px; background-position:0 -24px;}
header .contactDetails li a {color:#000;}

nav#topLevel {margin-top:45px;}
nav#topLevel ul li {float:left; font-size:1.8em; margin-left:4px;}
nav#topLevel ul li.home {margin-left:0;}
nav#topLevel ul li a {line-height: 1.2em; display:block;background-color:#d6e3ea; color:#000; padding:10px 15px; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px;}
nav#topLevel ul li#nav-sub-home a {padding-top:13px; padding-bottom:10px;}
nav#topLevel ul li#nav-sub-home a span {display:block; height:17px; width:19px; overflow:hidden; text-indent:-9999px; text-transform:uppercase; background-image:url('/assets/template/images/iconSprite.png'); background-position:0 0;}
nav#topLevel ul li#nav-sub-home a:hover span {background-position:-19px 0;}
nav#topLevel ul li a:hover, nav#topLevel ul li.here a:hover, nav#topLevel ul li.parent.here a:hover {background-color:#83a1b1; color:#fff; text-decoration:none;}
nav#topLevel ul li.here a {color:#212121;}
nav#topLevel ul li.here a, nav#topLevel ul li.parent.here a {background-color:#fff; border-left: 1px solid #c0cacf; border-right: 1px solid #c0cacf; border-top: 1px solid #c0cacf; position:relative; padding-bottom:8px; margin-bottom:-18px; z-index:4;}
nav#topLevel ul li.parent.here a {color:#118aca;}
nav#subLevel {background-color:#fff; z-index:3; position:relative; padding-top:28px; padding-bottom:28px; border-bottom:1px #dbdbdb solid; -moz-box-shadow: 0 0 6px rgba(0,0,0,.13); -webkit-box-shadow: 0 0 6px rgba(0,0,0,.13); box-shadow: 0 0 6px rgba(0,0,0,.13);}
nav#subLevel ul {overflow:hidden;}
nav#subLevel ul li {white-space: normal; font-size:1.4em; color:#33637d; list-style:disc; float:left; margin: 8px 12px 8px 0; padding:0 12px 0 0}
nav#subLevel ul li a {color:#118aca; display:block; padding:8px 0; font-size:1.15em;}
nav#subLevel ul li.here a {padding:8px; background-color:#f4f7f8; color:#212121; border:1px #ccd8de solid; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}


/* Hero(s)
-----------------------*/
#hero.home {background-color:#fff; background-image:url('/assets/template/images/houses.jpg'); background-position:center bottom; background-repeat:no-repeat; position:relative; z-index:1; padding-top:55px; padding-bottom:220px; margin-bottom:-9px;}
#hero.home h1 {color:#239dde;}
#hero.home p {font-size:2.4em; line-height:1.7em;}
#hero.home ul {margin:42px 0;}
#hero.home ul li {font-size:1.8em; line-height:1.5em; margin-bottom:34px; padding-left:35px; background:url('/assets/template/images/redBullet.png') no-repeat 0 10px;}

/*Main content */
#content {z-index:2; position:relative;}
#content.home {padding-top:65px; padding-bottom:65px;}
#content.home .entry h2 {font-size:3.0em;}
#content.page {padding-top:38px; padding-bottom:75px;}

#content.textured {background:#fff url('/assets/template/images/lightpaperfibers.jpg') repeat 0 0;}


/* Entry
-----------------------*/
.entry h1, .entry h2, .entry h3 {color:#401373;}
.entry h1 {}
.entry h2 {font-size:2.2em}
.entry h3 {}
.entry h4 {}
.entry h5 {}
.entry h6 {}
.entry p {font-size:1.7em; line-height:1.5em; margin-bottom:35px;}
.entry ul {margin-bottom:35px;}
.entry ul li {font-size:1.7em; line-height:1.5em; margin-bottom:12px; padding-left:25px; background:url('/assets/template/images/blueBullet.png') no-repeat 0 10px;}

.entry img {
	border:10px #239dde solid;
	transform: rotate(-1deg);
	-moz-transform: rotate(-1deg);
	-webkit-transform: rotate(-1deg);
	-ms-transform: rotate(-1deg);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 13px rgba(0,0,0,.34);
	-webkit-box-shadow: 0 0 13px rgba(0,0,0,.34);
	box-shadow: 0 0 13px rgba(0,0,0,.34);
	margin-bottom:35px;
	max-width:100%;
}

.entry .mediaEmbed {position: relative; padding-bottom: 56.25%; height: 0;}
.entry .mediaEmbed iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

/* Widgets 
-----------------------*/
.widget {
	border: 1px solid #cccac9;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff;
}
.widget.large .padding {padding:34px;}
.widget.small .padding {padding:22px;}

#news {background-image:url('/assets/template/images/newsBackground.png'); background-repeat:no-repeat; background-position:right bottom;}
#news h2 {color:#5a58a9; margin-bottom:35px; position:relative; padding-left:60px;}
#news h2 span {display:block; height:38px; width:42px; position:absolute; top:10px; left:0; background-image:url('/assets/template/images/iconSprite.png'); background-position:-38px 0;}

#news ul li {border-top:1px #AEAEAE dashed; margin-top:35px; padding-top:35px;}
#news ul li:first-child {border-top:none; margin-top:0; padding-top:0;}
#news h4 {font-size:2em; line-height: 1.2em; margin-bottom:15px;}

#news p {font-size:1.6em; line-height:1.5em;}

#useful.widget {padding-bottom:45px; margin-bottom:42px; background-image:url('/assets/template/images/lightBulb.png'); background-repeat:no-repeat; background-position:right bottom;}
#useful.widget h3 {padding-left:25px; color:#239dde; font-size:2.5em; position:relative;}
#useful.widget h3 span {height:25px; width:16px; display:block; position:absolute; top:6px; left:0; background-image:url('/assets/template/images/iconSprite.png'); background-position:-83px 0;}
#useful.widget ul {border-bottom:1px #cccccc dashed;}
#useful.widget ul li {padding:5px 0; border-top:1px #cccccc dashed;}
#useful.widget ul li a {display:block; color:#212121; font-size:1.5em; line-height: 1.3em; padding:10px 0;}

#related.widget {background-image:url('/assets/template/images/relatedBackground.png'); background-repeat:no-repeat; background-position:right bottom;}
#related.widget img {
	transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	max-width: 100%;
	margin:-240px 0 18px -3px;
}
#related.widget h4 {font-size:2.0em; line-height:1.1em; color:#6748a5; margin-bottom:20px;}
#related.widget h4 a {color:#6748a5;}
#related.widget p {font-size:1.5em; line-height: 1.4em; margin-bottom:24px;}

/* Useful contacts
------------------------*/
#content.contacts {}
#content.contacts .intro {margin-bottom:55px;}
#content.contacts .title h2 {padding-bottom:10px; margin-bottom:28px; border-bottom:1px #AFAFAF dashed;}
#content.contacts .details {margin-bottom:60px;}
#content.contacts .details .logo {	
	border:10px #239dde solid;
	transform: rotate(-1deg);
	-moz-transform: rotate(-1deg);
	-webkit-transform: rotate(-1deg);
	-ms-transform: rotate(-1deg);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 13px rgba(0,0,0,.34);
	-webkit-box-shadow: 0 0 13px rgba(0,0,0,.34);
	box-shadow: 0 0 13px rgba(0,0,0,.34);
	max-width:100%;
	background-color:#fff;
}
#content.contacts .details .img-contain {padding-bottom: 60%; margin-bottom: 0px;}
#content.contacts .details .img-contain .img-shiv {padding: 6% 7.6%;}
#content.contacts .details {font-size:1.7em; line-height:1.7em;}

#content.contacts .details dl {margin-bottom:24px;}
#content.contacts .details dl > * {float:left;}
#content.contacts .details dl dt {margin-right:10px; font-weight:bold;}
#content.contacts .details dl dd {margin-right:25px;}

/* Contact page */
#content.contact .sideBar {margin-top:90px;}
#content.contact .sideBar h3 {font-size:2.2em; color:#441872; margin-bottom: 32px;}
#content.contact .sideBar h4 {font-size:2.4em; line-height:1.4em; margin-bottom:24px; padding-bottom:10px; border-bottom:1px #cacac8 dashed;}
#content.contact .sideBar ul {margin-bottom:45px;}
#content.contact .sideBar ul li {font-size:1.7em; line-height:1.3em; margin-bottom:6px;}

#content.contact .mapContainer  {position: relative !important; padding-bottom: 70% !important; height: 0 !important;}
#content.contact .mapContainer img {max-width:none!important;}
#content.contact #mapCanvas {position: absolute !important; top: 0 !important; left: 0 !important; width: 100% !important; height: 100% !important;}

/* Search Results
-----------------------*/
#searchResults .result {margin-bottom:35px; font-size:1.7em;}

/* SiteMap
-----------------------*/
.siteMap ul li {color:#005ce7; margin:0 0 35px 25px; list-style:disc;}
.siteMap ul li a {font-size:1.7em;}
.siteMap ul li ul {margin:35px 0 45px 0;}

/* Social elements 
------------------------*/
#twitter {margin-top:65px; height:360px;}
#twitter iframe {width:100%}

/* Footer 
-----------------------*/
footer {border-top:1px #09567f solid; padding-top:75px; padding-bottom:75px;}
footer  h3 {color:#401373; text-align:center;}
footer .logos  {margin:auto; text-align:center;}
footer .logos li {display:inline-block; *display:inline; zoom:1; width:12%;}

footer .copy {margin:35px auto 0 auto; text-align:center;}
footer .copy li {font-size:1.4em; line-height:1.2em; display:inline-block; *display:inline; zoom:1; border-right:1px #000000 solid; margin-right:10px; padding-right:10px;}
footer .copy li.last {border-right:0; margin-right:0; padding-right:0;}
footer .copy li a {color:#000; text-decoration:none;}
footer .copy li a:hover {text-decoration:underline;}


/* ================================================*/
/* Media Queries
/* ================================================*/

@media all and (min-width: 960px) {
	
}

@media all and (min-width:1025px) and (max-width: 1140px) {
	/* Header */
	header .title {font-size:20px;}
	
	/* Navigation */
	nav#topLevel ul li {font-size:1.7em;}
	nav#topLevel ul li a {padding-left:9px; padding-right:9px;}
	
}
@media all and (min-width:961px) and (max-width: 1024px) {
	/* Header */
	header .title {font-size:18px; width: 60%;}
	
	/* Navigation */
	nav#topLevel ul li {font-size:1.7em; margin-left:3px; max-width:135px;}
	nav#topLevel ul li a {padding-left:8px; padding-right:8px; min-height:60px;}
}
@media all and (max-width: 960px) {
	/* Hidden Elements */
	#searchContainer, header .contactDetails, nav#topLevel, nav#subLevel {display:none}
	
	/* Navigation*/
	#mobile {display:block!important; background: #239dde; font-size: 16px; font-weight: bold; color: #fff; text-align: center; line-height: 40px; height: 60px; padding: 0 50px; z-index:99; position:relative;}	
	#mobile .menuLeft {background-image:url('/assets/template/images/iconSprite.png'); background-position:-140px 0; text-indent:-9999px; overflow:hidden; text-transform:uppercase; display: block; width: 22px; height: 18px; position: absolute; top:50%; left: 20px; margin-top:-9px;}
	
	header.container {padding-top:0px;}	
	header .logo {padding-right: 0; float: none; position: absolute; top: 5px; z-index: 100; margin: auto; left: 65px; right: 65px;}
	header .logo img {margin:auto; height:55px;}
	header .title {margin-top: 20px; font-size: 17px; line-height: 28px; width: 83%; float: left; margin-bottom: 20px;}	
	header .providedBy {float: none; top:65px; position: absolute; right: 10px;}
	header .providedBy span {margin:0; position: absolute; right: 80px; top: 50%; width: 65px;}
	header .providedBy img {width: 58px;}
}

@media all and (max-width: 768px) {
	
	/*Reset*/
	.equalHeight1 {min-height:0!important;}
	
	/* Global */
	h1 {margin-bottom:16px; font-size: 28px; line-height:1.5em;}
	h2 {font-size:25px; margin-bottom: 20px}
	h3 {font-size:15px; margin-bottom:18px;}
	
	/* Entry */
	.entry h2 {font-size:1.9em;}
	.entry p {font-size:1.5em;}
	.entry ul li {font-size: 1.4em; line-height: 1.4em; margin-bottom: 7px; padding-left: 20px; background-position: 0 8px;}
	
	#content.page {padding-top:30px; padding-bottom:40px;}

	/* Hero */
	#hero.home {padding-top:20px; padding-bottom:180px; background-size:100%; }
	#hero.home p {font-size: 1.8em; line-height: 1.4em; margin-bottom:35px}
	#hero.home ul {margin:0;}
	#hero.home ul li {font-size: 1.4em; line-height: 1.4em; margin-bottom: 9px; padding-left: 25px;}
	
	#content.home {padding-top:60px;}
	#content.home .entry h2 {font-size:2.2em;}
	
	/* News */
	#news h4 {font-size:1.5em;}
	#news p {font-size:1.4em;}
	#news ul li {margin-top: 20px; padding-top: 20px;}
	
	/* Social */
	#twitter {margin-bottom:35px;}
	
	/* Contacts */
	#content.contacts .intro {margin-bottom:35px;}
	#content.contacts .details {font-size:1.5em;}
	#content.contacts .details dl {margin-top:25px;}
	#content.contacts .details dl > * {float:none;}
	#content.contact .sideBar {margin-top:40px;}
	#content.contact .sideBar ul li {font-size:1.5em;}
	#content.contacts .details .logo {max-width:300px;}
	
	/* Useful links */
	#useful.widget h3 {font-size:1.9em; padding-top:6px;}
	
	/* Related */
	#related.widget img {margin-left:auto; margin-right:auto;}
	
	/* Footer */
	footer {padding-top:35px; padding-bottom:55px;}
	footer .logos li {width: 20%;}
}

@media all and (max-width: 600px) {
		#mobile {height:40px;}
	
		header .logo {}
		header .logo img {height:35px;}
		header .title {margin-top: 10px; font-size:15px; line-height: 28px; width: 83%; margin-bottom: 10px;}	
		header .providedBy {top:45px;}
		header .providedBy span {display:none;}
		header .providedBy img {width: 38px;}

}
@media all and (max-width: 400px) {
		
		/* Global */
		h1 {font-size:24px;}
		h2 {font-size:22px;}
	
		/* Hero */
		#hero.home {padding-bottom:145px; background-size:150%; }
		
}