div#access_bar{
  width: 100%;
  height: 32px;
  position: fixed;
  bottom: 0px;
  z-index: 9999;
  background: #edecec url('/assets/template/images/toolbar/bg_access_bar.png') top left repeat-x;
}

div#access_bar .button{
display:block;
font-size:0;
line-height:0;
text-indent:-9999px;
}

div#access_bar #text_size p.button {
font-size: 1.5em;
line-height: 12px;
text-indent: 0px;
padding-top: 7px;
margin-left: 0px;
}

div#access_bar #text_size ul {
margin-left: 0px;
}

div#show{
display: none;
background:  url('/assets/template/images/toolbar/bg_access_bar_show.png') top left no-repeat;
}

div#hide{
background:  url('/assets/template/images/toolbar/bg_access_bar_hide.png') top left no-repeat;
}

div#display
{
position: absolute;
width:45px;
height: 15px;
top: -12px;
right: 50%;
}

div#show,
div#hide
{
position: absolute;
width:45px;
height: 15px;
}

div#show p,
div#hide p
{
padding: 0;
}

div#text_size{
  float: left;
  margin: 2px 0 0 40px;
  width: 142px;
  height: 25px;
  background: #FFF url('/assets/template/images/toolbar/bg_text_size.png') top left no-repeat;
}

div#text_size p{
padding: 2px 0 0 8px;
float: left;
}

div#access_bar ul{
  margin-left:11px;
  float: right;
}

div#access_bar ul li{
  display: inline;
}

div#access_bar ul li#small{
  float: left;
  width: 22px;
  height: 25px;
  background: #FFF url('/assets/template/images/toolbar/bg_text_size_small.png') top left no-repeat;
}

div#access_bar ul li#medium{
  float: left;
  width: 22px;
  height: 25px;
  background: #FFF url('/assets/template/images/toolbar/bg_text_size_medium.png') top left no-repeat;
}

div#access_bar ul li#large{
  float: left;
  width: 27px;
  height: 25px;
  background: #FFF url('/assets/template/images/toolbar/bg_text_size_large.png') top left no-repeat;
}

div#show,
div#hide,
div#access_bar ul li:hover,
div#access_bar div#close p#close_button,
div#access_bar div#top_link
{
  cursor: pointer;
}

div#access_bar ul li#small:hover,
div#access_bar ul li#medium:hover,
div#access_bar ul li#large:hover
{
  background-position: right top;
}

div#access_bar div#close{
  float: right;
  margin: 2px 40px 0 0;
  width: 76px;
  height: 25px;
  background: #FFF url('/assets/template/images/toolbar/bg_access_bar_close_pnl.png') top left no-repeat;
}

div#access_bar p#close_tip{
  position: absolute;
  text-align: center;
  width: 152px;
  height: 49px;
  top: -50px;
  right: 10px;
  padding: 10px 10px 0 10px;
  background: url('/assets/template/images/toolbar/bg_close_tip.png') top left no-repeat;
  display: none;
  color: red;
  font-size: 13px;
	line-height:13px;
  font-weight: normal;
}


div#access_bar div#top_link {
  background: #FFF url('/assets/template/images/toolbar/bg_access_bar_top.png') top left no-repeat;
  float: right;
  width: 109px;
  height: 25px;
  margin: 2px 10px 0 0;
}

a#goto_top_link{
  font-size: 0px;
  line-height:0px;
  float: left;
}


div#access_bar div#top_link a{

  width: 109px;
  height: 25px;
  display: block;
  float: left;
  padding: 3px 0 0 6px;
  font-weight: 700;
  color: #000;
}

div#access_bar div#cookie_link {
  background: transparent url('/assets/template/images/toolbar/bg_access_bar_cookie.png') top left no-repeat;
  float: right;
  width: 102px;
  height: 25px;
  margin: 2px 10px 0 0;
}

div#access_bar div#cookie_link a{

  width: 109px;
  height: 25px;
  display: block;
  float: left;
  padding: 3px 0 0 6px;
  font-weight: 700;
  color: #000;
}


div#access_bar div#close p{
  float: left;
  padding: 3px 0 0 8px;
}

div#access_bar div#close p#close_button{
  float: right;
  width: 23px;
  height: 25px;
  background: #FFF url('/assets/template/images/toolbar/bg_access_bar_close.png') top left no-repeat;
  padding: 0;
}

div#access_bar p,
div#access_bar ul li{
font-weight:500;
}