/* - - - - - - - - - - - - - - - - - - - - -

 Title : Example Custom CSS : DHI Bristol
 URL : http://wufoo.com

- - - - - - - - - - - - - - - - - - - - - */

/* Backgrounds */
*, *:before, *:after, input, textarea {-moz-box-sizing: border-box!important; -webkit-box-sizing: border-box!important; box-sizing: border-box!important;}

html{-webkit-font-smoothing: antialiased;}

.wufoo input.text, .wufoo textarea.textarea {
	border: 1px solid rgba(0,0,0,.15);
	background-color: #fff;
	-moz-box-shadow: inset 2px 3px 6px rgba(0,0,0,.06);
	-webkit-box-shadow: inset 2px 3px 6px rgba(0,0,0,.06);
	box-shadow: inset 2px 3px 6px rgba(0,0,0,.06);
	padding:8px;
	font-size:15px;
}

input.btTxt {
	font-size:18px;
		display: inline-block;
  *display: inline;
  *margin-left: .3em;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  text-decoration:none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:none;
	padding: 15px 42px 15px 15px;
	position:relative;
	background-color:#6748a5;
	background-image:url('/assets/template/images/wufooArrow.png');
	background-repeat:no-repeat;
	background-position:93% center;
	color:#fff;
}

@media all and (max-width: 320px) {
	.wufoo input.text, .wufoo textarea.textarea {width:100%;}
}