{embed="Includes/.header"}
<script src="{path="assets/template/scripts/jquery.equalheightcolumns.js"}?v=1" type="text/javascript"></script>
{embed="Includes/.head"}

{exp:channel:entries channel="home" limit="1"}
<section id="hero" class="home container resize">
	<div class="row">
		<div class="col12">
			<h1>{intro_title}</h1>
			<p>{intro_text}</p>
		</div>
	</div>
	<div class="row">
		<div class="col5-half">
			<ul>
				{intro_bullet_points}	
					{if '{alignment}' == 'Left'}
						<li>{text}</li>
					{/if}
				{/intro_bullet_points}
			</ul>
		</div>
		<div class="pushcol1 col5-half last">
			<ul>
				{intro_bullet_points}
					{if '{alignment}' == 'Right'}
						<li>{text}</li>
					{/if}
				{/intro_bullet_points}
			</ul>
		</div>
	</div>
</section>

<section id="content" class="textured home container resize">
	<div class="top wigglyBorder"></div>
	<div class="row">
		<div class="col5-half equalHeight1">
				<div class="entry">
					{main_content}
				</div>			
			<div id="twitter">
				<a class="twitter-timeline" href="https://twitter.com/dhi_online" data-widget-id="391190208596545538">Tweets by @dhi_online</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
		
		</div>
		<div class="pushcol1 col5-half last">
			<div id="news" class="large widget equalHeight1">
				<div class="padding">
						<h2><span></span>News Noticeboard</h2>
						<ul>
							{latest_news}
								<li>
									<article>
										<h4>{title}</h4>
										<p>{text}</p>
									</article>
								</li>
							{/latest_news}
						</ul>
					</div>
			</div>
		</div>
	</div>
</section>
{/exp:channel:entries}

<script>
	jQuery(document).ready(function($) {
		$('.equalHeight1').equalHeightColumns({afterLoading: 'iframe'});	
	});
</script>
{embed="Includes/.footer"}