		<footer class="container">
					<div class="row">
								<div class="col12"><h3>{exp:low_variables:single var="lv_footer_slogan"}</h3></div>
					</div>
					<div class="row">
							<div class="col12">
								<ul class="logos">
										{exp:low_variables:parse var="lv_footer_logos"}
												<li>
															<div class="img-contain">
																<a href="{url}" class="img-shiv">
																	{exp:ce_img:pair src="{logo}" height="90" width="163"}
																		<img src="{made}" alt="{alt}" alt="{alt}" width="{width}" height="{height}" />
																	{/exp:ce_img:pair}
																</a>
															</div>
												</li>
										{/exp:low_variables:parse}
								</ul>
							</div>
					</div>
					<div class="row">
						<div class="col12">
							<div class="copy">
								<ul>
									<li class="first">&copy; DHI Bristol ROADS Support Services</li>
									{exp:low_variables:pair var="lv_footer_links"}
											<li><a href="{page_uri}">{title}</a></li>
									{/exp:low_variables:pair}
									<li class="last"><a href="{site_url}sitemap">Site map</li>
								</ul>
								{!--
								<br>
<div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        			--}
							</div>
						</div>
					</div>
		</footer>
		
		
		</div><!-- #wrapper -->
	</body>
</html>