</head>
<body>

<div id="wrapper">
<div id="mobile" class="container" style="display:none">
	<a href="#menu" class="menuLeft">menu</a>	
	<nav id="menu">
		{exp:structure:nav start_from="/" show_depth="999" current_class="Selected"}
	</nav>
</div>
<header class="container">
	<div class="row">
		<div class="col6">
			<div class="logo">
				<a href="{site_url}"><img src="{exp:low_variables:single var="lv_site_logo"}" title="{site_name}" alt="{site_name}" /></a>
			</div>
			<div class="title">
				<a href="{site_url}">{exp:low_variables:single var="lv_header_title"}</a>
			</div>
		</div>
		<div class="col4">
			<div id="searchContainer">
				{exp:search:simple_form channel="page|form|contacts|contact" result_page="search" no_result_page="search/no-results" status="Open" search_in="everywhere" show_future_entries="yes"}
					<div class="searchBox">
						<input type="text" name="keywords" id="keywords" size="18" maxlength="100" value="Search this website" onfocus="if(this.value == 'Search this website') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search this website';}">		
						<input type="submit" value="submit" class="submit">
					</div>
				{/exp:search:simple_form}
			</div>
			
			<ul class="contactDetails row">
				<li class="phone col5">
					<span></span>
					{exp:low_variables:single var="lv_global_tel"}
				</li>
				<li class="email col7 last">
					<span></span>
					{exp:low_variables:parse}
						<a href="{lv_global_email}">{lv_global_email}</a>
					{/exp:low_variables:parse}
				</li>
			</ul>
			
		</div>
		<div class="col2 last">
			<div class="providedBy">
				<span>Provided by</span>
				{exp:low_variables:pair var="lv_provided_by_logo"}
				  <a href="{url}"><img src="{image}" title="{alt}" alt="{alt}" /></a>
				{/exp:low_variables:pair}
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col12">
			<nav id="topLevel">
				<div class="row">
					<div class="col12">
						{exp:structure:nav start_from="/" max_depth="1" add_span="yes" add_unique_ids="yes"}
					</div>
				</div>
			</nav>
		</div>
	</div>
</header>
<div class="top shadow"></div>

{if segment_1 != '' AND segment_1 !="search" AND segment_1 !="sitemap"}
	{exp:structure:entries parent_id="{structure:top:entry_id}"}
		{if {count} <= 1}
			<nav id="subLevel" class="container">
				<div class="row">
					<div class="col12">
						<ul>
							{/if}
								<li{if '{segment_2}' == '{url_title}'} class="here"{/if}><a href="{page_uri}">{title}</a></li>	 
							{if {count} ==	 {total_results}	}
						</ul>
					</div>
				</div>
			</nav>
		{/if}
	{/exp:structure:entries}
{/if}